<h2>New Session</h2>


<form class="" ng-submit="create()">
  <div class="row">
    <div class="large-8 columns">
      <fieldset>
        <legend>Se connecter au blog</legend>
        <div class="row">
          <div class="large-3 columns push-1">
            <label for="username_or_email">Username/email</label>
          </div>
          <div class="large-7 columns  pull-4">
            <input type="text" name="username_or_email" ng-model="username_or_email" id="username_or_email" />
          </div>
        </div>
        <div class="row">
          <div class="large-4 columns push-1">
            <label for="password">Mot de password</label>
          </div>
          <div class="large-7 columns  pull-4">
            <input type="password" name="password" ng-model="password" id="password" />
          </div>
        </div>
        <div class="row">
          <div class="large-4">
            <input type="submit" value="Valider" />
          </div>
        </div>
      </fieldset>
    </div>
  </div>

</form>